<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mvcdemoweb.model.mapper.UploadMapper">

	<insert id="insertUpload" parameterType="Upload"
		useGeneratedKeys="true" keyProperty="uploadNo"><!-- 자동증가컬럼데이터를 Upload객체에 저장 -->
		INSERT INTO upload (title, uploader, content)
		VALUES (#{title}, #{uploader}, #{content})
	</insert>
	
	<!-- <insert id="insertUpload2" parameterType="com.mvcdemoweb.model.dto.Upload"> -->
	<insert id="insertUpload2" parameterType="Upload">
		<selectKey keyProperty="uploadNo" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO upload (title, uploader, content)
		VALUES (#{title}, #{uploader}, #{content})
	</insert>
	
	<insert id="insertUploadFile" parameterType="UploadFile"
		useGeneratedKeys="true" keyProperty="uploadFileNo">
		INSERT INTO uploadfile (uploadno, savedfilename, userfilename) 
		VALUES (#{uploadNo}, #{savedFileName}, #{userFileName})
	</insert>
	
	<select id="selectUploadList" resultType="Upload">
		SELECT uploadNo, title, regDate 
		FROM upload
	</select>
	
	<resultMap type="UploadFile" id="uploadFileMap">
		<id column="uploadFileNo" property="uploadFileNo" />
		<result column="uploadNo" property="uploadNo" />
		<result column="savedFileName" property="savedFileName" />
		<result column="userFileName" property="userFileName" />
	</resultMap>
	
	<!-- 중첩 result-map 방식의 1:Many 매핑 구현 -->
	<resultMap type="Upload" id="uploadMap">
		<id column="uploadNo" property="uploadNo" />
		<result column="title" property="title" />
		<result column="uploader" property="uploader" />
		<result column="content" property="content" />
		<result column="regDate" property="regDate" />
		<collection property="files" column="uploadNo" resultMap="uploadFileMap" />
	</resultMap>	
	<select id="selectUploadByUploadNo" parameterType="int" resultMap="uploadMap">
		SELECT 
			u.uploadNo, u.title, u.uploader, u.content, u.regDate,
			uf.uploadFileNo, uf.savedFileName, uf.userFileName 
		FROM upload u
		LEFT OUTER JOIN uploadfile uf 
		ON u.uploadno = uf.uploadno
		WHERE u.uploadno = #{id} AND u.deleted = false
	</select>
	
	<!-- 중첩 select 방식의 1:Many 매핑 구현 -->	
	<resultMap type="Upload" id="uploadMap2">
		<id column="uploadNo" property="uploadNo" />
		<result column="title" property="title" />
		<result column="uploader" property="uploader" />
		<result column="content" property="content" />
		<result column="regDate" property="regDate" />
		<collection property="files" column="uploadNo" select="selectUploadFileByUploadNo" />
	</resultMap>
	<select id="selectUploadByUploadNo2" parameterType="int" resultMap="uploadMap2">
		SELECT 
			uploadNo, title, uploader, content, regDate
		FROM upload
		WHERE uploadno = #{id} AND deleted = false
	</select>
	<select id="selectUploadFileByUploadNo" parameterType="int" resultMap="uploadFileMap">
		SELECT uploadFileNo, uploadNo, savedFileName, userFileName
		FROM uploadfile
		WHERE uploadNo = #{id}
	</select>
	
	
</mapper>






