<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dolbi.model.mapper.CompanyMapper"><!-- 클래스 또는 인터페이스 역할 -->
	
	<sql id="JobboardColumns">
		J_NO,J_TITLE,J_READCOUNT,J_DEADLINE,M_ID,J_PAYMENT,J_SALARY,J_DELETED
	</sql>
	
	<!-- <resultMap type="com.mvcdemoweb.model.dto.Member" id="memberMap"> -->
	<resultMap type="Jobboard" id="jobboardListMap">
		<id property="jobboardNo" column="J_NO" />
		<result property="jobboardTitle" column="J_TITLE" />
		<result property="jobboardReadCount" column="J_READCOUNT" />
		<result property="jobboardDeadLine" column="J_DEADLINE" />
		<result property="memberId" column="M_ID" />
		<result property="jobboardPayment" column="J_PAYMENT" />
		<result property="jobboardSalary" column="J_SALARY" />
		<result property="jobboardDeleted" column="J_DELETED" />
	</resultMap>
	
	<!-- 메서드 역할 -->

	<select id="selectIngJobboards" parameterType="String" resultMap="jobboardListMap">
		SELECT <include refid="JobboardColumns" /> 
		FROM JOBBOARD
		WHERE m_id = #{id} and date(J_DEADLINE) <![CDATA[>]]> CURRENT_DATE()
	</select>
	
	
	<select id="selectEndJobboards" parameterType="String" resultMap="jobboardListMap">
	    SELECT <include refid="JobboardColumns" /> 
		FROM JOBBOARD
		WHERE m_id = #{id} and date(J_DEADLINE) <![CDATA[<]]> CURRENT_DATE()
	</select>
	
	<resultMap type="Application" id="applicationMap">
		<id column="a_no" property="applicationNo" />
		<result column="j_no" property="jobboardNo" />
		<result column="j_title" property="jobboardTitle" />
		<result column="M_id" property="memberId" />
		<result column="a_ischeck" property="isCheck" />
		<result column="a_regdate" property="applicationRegdate" />
	</resultMap>
	
	<select id="selectApplication" parameterType="int" resultMap="applicationMap">
		select a_no, j_no, m_id, a_ischeck, a_regdate
		from application
		where j_no = #{jobboardNo}
	</select>
	
	<update id="updateApplication" parameterType="int">
		update application set a_ischeck = '1' where a_no = #{applicationNo} 
	</update>
	
	<resultMap type="Resume" id="ResumeMap">
		<id column="M_ID" property="memberId" />
		<result column="r_title" property="resumeTitle" />
		<result column="r_selfintroduction" property="selfintroduction" />
		<result column="r_ispublic" property="ispublic" />
		<result column="r_readcount" property="readcount" />
		<result column="r_lastmodified" property="lastmodified" />
	</resultMap>
	
	<resultMap type="ResumeAttachment" id="ResumeAttMap">
		<id column="M_ID" property="memberId" />
		<result column="ra_savedfilename" property="resumeSavedFilename" />
		<result column="ra_filename" property="resumeFilename" />
	</resultMap>
	
	<resultMap type="Career" id="CareerMap">
		<id column="c_no" property="careerNo" />
		<result column="c_companyname" property="companyName" />
		<result column="c_companytype" property="companyType" />
		<result column="c_startdate" property="caStartDate" />
		<result column="c_enddate" property="caEndDate" />
		<result column="m_id" property="memberId" />
	</resultMap>
	
	<resultMap type="Education" id="EducationMap">
		<id column="e_no" property="eduNo" />
		<result column="e_schoolname" property="schoolName" />
		<result column="e_major" property="major" />
		<result column="e_startdate" property="edStartDate" />
		<result column="e_enddate" property="edEndDate" />
		<result column="m_id" property="memberId" />
	</resultMap>
	
	<select id="selectResumeBymemberId" parameterType="String" resultMap="ResumeMap">
		select *
		from resume
		where m_id = #{id}
	</select>
	
	<select id="selectResumeAttachmentBymemberId" parameterType="String" resultMap="ResumeAttMap">
		select *
		from resumeAttachment
		where m_id = #{id}
	</select>
	
	<select id="selectCareerBymemberId" parameterType="String" resultMap="CareerMap">
		select *
		from Career
		where m_id = #{id}
	</select>
	
	<select id="selectEducationBymemberId" parameterType="String" resultMap="EducationMap">
		select *
		from Education
		where m_id = #{id}
	</select>
	
	<resultMap type="Member" id="individualMap">
		<id column="M_ID" property="memberId" />
		<result column="M_GENDER" property="gender" />
		<result column="M_AGE" property="age" />
	</resultMap>
	
	<select id="selectIndividualByMemberId" resultMap="individualMap" parameterType="String">
		SELECT *
		FROM individual
		WHERE m_id = #{id}
	</select>
	
	<select id="selectResumeList" resultMap="ResumeMap">
		select *
		from resume
		where r_ispublic = '1'
	</select>
	
	<update id="updateReadCount" parameterType="String">
		update resume set r_readcount = IFNULL( r_readcount, 0) + 1 where m_id = #{memberId}
	</update>
	
</mapper>






