<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dolbi.model.mapper.IndividualMapper"><!-- 클래스 또는 인터페이스 역할 -->
	
	<sql id="individualColumns">
		M_ID, M_GENDER, M_AGE
	</sql>
	
	<resultMap type="Member" id="individualMap">
		<id column="M_ID" property="memberId" />
		<result column="M_GENDER" property="gender" />
		<result column="M_AGE" property="age" />
	</resultMap>

	<!-- 메서드 역할 -->
	<!-- 이력서 있는지 없는지 확인작업 -->
	<select id="countResumeBymemberId" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM resume
		where m_id = #{id}
	</select>
	
	<!-- 개인회원의 정보 가져오기 -->
	<select id="selectIndividualByMemberId" resultMap="individualMap" parameterType="String">
		SELECT <include refid="individualColumns" />
		FROM individual
		WHERE m_id = #{id}
	</select>
	
	<insert id="insertResume" parameterType="Resume">
		insert into resume (m_id, r_title, r_selfintroduction, r_ispublic)
		values (#{memberId}, #{resumeTitle}, #{selfintroduction}, #{ispublic})
	</insert>
	
	<insert id="insertResumeAttachment" parameterType="ResumeAttachment">
		insert into resumeattachment (m_id, ra_savedfilename, ra_filename)
		values (#{memberId}, #{resumeSavedFilename}, #{resumeFilename})
	</insert>
	
	<insert id="insertCareer" parameterType="Career" >
		<selectKey keyProperty="careerNo" resultType="int" order="BEFORE">
			SELECT COUNT(*)+1 from career
		</selectKey>
		insert into career (c_no, c_companyname, c_companytype, c_startdate, c_enddate, m_id)
		values (#{careerNo}, #{companyName}, #{companyType}, #{caStartDate}, #{caEndDate}, #{memberId})
	</insert>
	
	<insert id="insertEducation" parameterType="Education">
		<selectKey keyProperty="eduNo" resultType="int" order="BEFORE">
			SELECT COUNT(*)+1 from education
		</selectKey>
		insert into education (e_no, e_schoolname, e_major, e_startdate, e_enddate, m_id)
		values (#{eduNo}, #{schoolName}, #{major}, #{edStartDate}, #{edEndDate}, #{memberId})
	</insert>
	
	<resultMap type="Resume" id="ResumeMap">
		<id column="M_ID" property="memberId" />
		<result column="r_title" property="resumeTitle" />
		<result column="r_selfintroduction" property="selfintroduction" />
		<result column="r_ispublic" property="ispublic" />
		<result column="r_readcount" property="readcount" />
		<result column="r_lastmodified" property="lastmodified" />
	</resultMap>
	
	<resultMap type="ResumeAttachment" id="ResumeAttMap">
		<id column="M_ID" property="memberId" />
		<result column="ra_savedfilename" property="resumeSavedFilename" />
		<result column="ra_filename" property="resumeFilename" />
	</resultMap>
	
	<resultMap type="Career" id="CareerMap">
		<id column="c_no" property="careerNo" />
		<result column="c_companyname" property="companyName" />
		<result column="c_companytype" property="companyType" />
		<result column="c_startdate" property="caStartDate" />
		<result column="c_enddate" property="caEndDate" />
		<result column="m_id" property="memberId" />
	</resultMap>
	
	<resultMap type="Education" id="EducationMap">
		<id column="e_no" property="eduNo" />
		<result column="e_schoolname" property="schoolName" />
		<result column="e_major" property="major" />
		<result column="e_startdate" property="edStartDate" />
		<result column="e_enddate" property="edEndDate" />
		<result column="m_id" property="memberId" />
	</resultMap>
	
	<select id="selectResumeBymemberId" parameterType="String" resultMap="ResumeMap">
		select *
		from resume
		where m_id = #{id}
	</select>
	
	<select id="selectResumeAttachmentBymemberId" parameterType="String" resultMap="ResumeAttMap">
		select *
		from resumeAttachment
		where m_id = #{id}
	</select>
	
	<select id="selectCareerBymemberId" parameterType="String" resultMap="CareerMap">
		select *
		from Career
		where m_id = #{id}
	</select>
	
	<select id="selectEducationBymemberId" parameterType="String" resultMap="EducationMap">
		select *
		from Education
		where m_id = #{id}
	</select>
	
	<resultMap type="Application" id="applicationMap">
		<id column="a_no" property="applicationNo" />
		<result column="j_no" property="jobboardNo" />
		<result column="j_title" property="jobboardTitle" />
		<result column="M_id" property="memberId" />
		<result column="a_ischeck" property="isCheck" />
		<result column="a_regdate" property="applicationRegdate" />
	</resultMap>
	
	<select id="selectApplicationBymemberId" parameterType="String" resultMap="applicationMap">
		select a.a_no, a.j_no, a.m_id, a.a_ischeck, a.a_regdate, j.j_title
		from application a
		join jobboard j
		on a.j_no = j.j_no
		where a.m_id = #{memberId}
	</select>
	
</mapper>






