<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dolbi.model.mapper.JobboardMapper"><!-- 클래스 또는 인터페이스 역할 -->
	
	<sql id="JobboardListColumns">
		J_NO,J_TITLE,J_READCOUNT,J_DEADLINE,M_ID,J_PAYMENT,J_SALARY,J_DELETED,M_NAME,J_GENDER
	</sql>
	<sql id="JobboardViewColumns">
		J_NO,J_TITLE,J_CONTENT,J_DEADLINE,M_ID,J_PAYMENT,J_SALARY,J_DELETED,J_JOINNO,J_GENDER,J_AGE,J_EDUCATION,J_CAREER,M_NAME,J_PHONE,J_EMAIL
	</sql>
	
	<!-- <resultMap type="com.mvcdemoweb.model.dto.Member" id="memberMap"> -->
	<resultMap type="Jobboard" id="jobboardListMap">
		<id property="jobboardNo" column="J_NO" />
		<result property="jobboardTitle" column="J_TITLE" />
		<result property="jobboardReadCount" column="J_READCOUNT" />
		<result property="jobboardDeadLine" column="J_DEADLINE" />
		<result property="memberId" column="M_ID" />
		<result property="jobboardPayment" column="J_PAYMENT" />
		<result property="jobboardSalary" column="J_SALARY" />
		<result property="jobboardDeleted" column="J_DELETED" />
		<result property="memberName" column="M_NAME" />
		<result property="jobboardGender" column="J_GENDER" />
	    <result property="jobboardPhone" column="J_PHONE" />
		<result property="jobboardemail" column="J_EMAIL" />
	   
		
	
	
	</resultMap>
	
	<!-- 메서드 역할 -->
	<!-- <select id="selectJobboards" resultMap="jobboardListMap">
		SELECT <include refid="JobboardListColumns" /> 
		FROM JOBBOARD
	</select> -->
	
	
	
	<select id="selectJobboards" parameterType="hashmap" resultMap="jobboardListMap">
		SELECT c.J_NO,c.J_TITLE,c.J_READCOUNT,c.J_DEADLINE,c.M_ID,J_PAYMENT,c.J_SALARY,c.J_DELETED,c.M_NAME,c.J_GENDER
		FROM (select a.*, @rownum:=@rownum+1 as rnum from jobboard a, (select @rownum:=0) b order by j_no desc) c
		where c.rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="selectJobboardBySearchTag" parameterType="String" resultMap="jobboardListMap">
		SELECT <include refid="JobboardListColumns" /> 
		FROM JOBBOARD
		where j_tag LIKE #{searchTag}
	</select>
	
	<resultMap type="JobboardAttachment" id="jobboardFileMap">
		<id column="ja_no" property="jobboardAttachmentNo" />
		<result column="j_no" property="jobboardNo" />
		<result column="ja_savedfilename" property="savedFileName" />
		<result column="ja_filename" property="userFileName" />
	</resultMap>
	
	<resultMap type="Jobboard" id="jobboardViewMap">
		<id property="jobboardNo" column="J_NO" />
		<result property="jobboardTitle" column="J_TITLE" />
		<result property="jobboardContent" column="J_CONTENT" />
		<result property="jobboardDeadLine" column="J_DEADLINE" />
		<result property="memberId" column="M_ID" />
		<result property="jobboardPayment" column="J_PAYMENT" />
		<result property="jobboardSalary" column="J_SALARY" />
		<result property="jobboardDeleted" column="J_DELETED" />
		<result property="jobboardJoinNo" column="J_JOINNO" />
		<result property="jobboardGender" column="J_GENDER" />
		<result property="jobboardAge" column="J_AGE" />
		<result property="jobboardEducation" column="J_EDUCATION" />
		<result property="jobboardCareer" column="J_CAREER" />
		<result property="memberName" column="M_NAME" />
		 <result property="jobboardPhone" column="J_PHONE" />
		<result property="jobboardemail" column="J_EMAIL" />
	
		<collection property="files" column="j_no" resultMap="jobboardFileMap" />
	</resultMap>
	
	<select id="selectJobboardByjobboardNo" resultMap="jobboardViewMap" parameterType="int">
		SELECT j.J_NO,j.J_TITLE,j.J_CONTENT,j.J_DEADLINE,j.M_ID,j.J_PAYMENT,j.J_SALARY,j.J_DELETED,j.J_JOINNO,j.J_GENDER,j.J_AGE,j.J_EDUCATION,j.J_CAREER,ja.ja_savedfilename,j.M_NAME,j.J_EMAIL,j.J_PHONE
		FROM JOBBOARD j
		LEFT OUTER JOIN JOBBOARDATTACHMENT ja
		ON j.j_no = ja.j_no
		where j.j_no = #{jobboardNo}
	</select>
	
	<insert id="insertJobboard" parameterType="Jobboard">
		<selectKey keyProperty="jobboardNo" resultType="int" order="BEFORE">			
			SELECT IFNULL( MAX(J_NO), 0) + 1 from jobboard
		</selectKey>
		INSERT INTO JOBBOARD (j_no, j_title, j_content, j_deadline, j_joinno, j_gender, j_age, j_education, m_id, j_payment, j_salary, j_career, m_name, j_tag ,j_email,j_phone)
		VALUES (#{jobboardNo},#{jobboardTitle}, #{jobboardContent},#{jobboardDeadLine},#{jobboardJoinNo},#{jobboardGender},#{jobboardAge},#{jobboardEducation},#{memberId},#{jobboardPayment},#{jobboardSalary},#{jobboardCareer},#{memberName}, #{categoryTag},#{jobboardemail},#{jobboardPhone})

	</insert>
	
	<insert id="insertJobboardFile" parameterType="JobboardAttachment">
		<selectKey keyProperty="jobboardAttachmentNo" resultType="int" order="BEFORE">
			SELECT IFNULL( MAX(JA_NO), 0) + 1 from jobboardattachment
		</selectKey>
		insert into jobboardattachment (ja_no, j_no, ja_savedfilename, ja_filename)
		values (#{jobboardAttachmentNo}, #{jobboardNo}, #{savedFileName}, #{userFileName})
	</insert>
	
	<insert id="insertApplication" parameterType="hashMap">
		<selectKey keyProperty="applicationNo" resultType="int" order="BEFORE">
			SELECT IFNULL( MAX(a_no), 0) + 1 from application
		</selectKey>
		insert into application (a_no, j_no, m_id)
		values (#{applicationNo}, #{jobboardNo}, #{memberId})
	</insert>
	

	
	<update id="updateCount" parameterType="int">
		update jobboard set J_READCOUNT = J_READCOUNT + 1 WHERE J_NO = #{jobboardNo}
	</update>
	
	<select id="selectJobboardNoByMemberId" parameterType="String" resultType="int">
		select jc_no
		from company
		where m_id = #{memberId}
	
	</select>

     <!-- 글의 갯수 구하기 -->
     
     <select id="selectCount" resultType="int">
      	select count(*) from jobboard
     </select>
    
     <!-- 이전 글 구하기 -->
     <select id="selectPrev" parameterType="int" resultMap="jobboardListMap">
      select <include refid="JobboardListColumns" />  
      from(
      	select*
      	from jobboard
      	<![CDATA[ where j_no > #{num} ]]>
      	order by j_no asc)
      where rownum-1
     </select>
     
     <!-- 다음 글 구하기 -->
     
     <select id="selectNext" parameterType="int" resultMap="jobboardListMap">
      select <include refid="JobboardListColumns" />  
      from(
      	select*
      	from jobboard
		<![CDATA[ where j_no > #{num} ]]>
      	order by j_no asc)
      where rownum+1
     </select>
     
     <delete id="deleteJobboardAttachmentByJobboardNo" parameterType="int">
     	delete from jobboardattachment where ja_no=#{jobboardNo}
     </delete>
     
     <update id="updateJobboard" parameterType="Jobboard" >
     	update JOBBOARD set j_title=#{jobboardTitle}, j_content=#{jobboardContent}, j_deadline=#{jobboardDeadLine}, j_joinno=#{jobboardJoinNo}, j_gender=#{jobboardGender}, j_age=#{jobboardAge}, j_education=#{jobboardEducation}, j_payment=#{jobboardPayment}, j_salary=#{jobboardSalary}, j_career=#{jobboardCareer}, m_name=#{memberName}, j_tag=#{categoryTag},j_email=#{jobboardemail},j_phone=#{jobboardPhone} where j_no=#{jobboardNo}
     </update>

</mapper>






