<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dolbi.model.mapper.JobboardMapper"><!-- 클래스 또는 인터페이스 역할 -->
	
	<sql id="JobboardColumns">
		J_No,J_TITLE,J_READCOUNT,J_DEADLINE,M_ID,J_PAYMENT,J_SALARY,J_DELETED
	</sql>
	
	<!-- <resultMap type="com.mvcdemoweb.model.dto.Member" id="memberMap"> -->
	<resultMap type="Jobboard" id="jobboardListMap">
		<id property="jobboardNo" column="J_NO" />
		<result property="jobboardTitle" column="J_TITLE" />
		<result property="jobboardReadCount" column="J_READCOUNT" />
		<result property="jobboardDeadLine" column="J_DEADLINE" />
		<result property="memberId" column="M_ID" />
		<result property="jobboardPayment" column="J_PAYMENT" />
		<result property="jobboardSalary" column="J_SALARY" />
		<result property="jobboardDeleted" column="J_DELETED" />
	</resultMap>
	
	<!-- 메서드 역할 -->
	<select id="selectJobboards" resultMap="jobboardListMap">
		SELECT <include refid="JobboardColumns" /> 
		FROM JOBBOARD
	</select>
	
	<insert id="insertJobboard" parameterType="Jobboard">
		<selectKey keyProperty="jobboardNo" resultType="int" order="BEFORE">
			SELECT COUNT(*)+1 from JOBBOARD
		</selectKey>
		INSERT INTO JOBBOARD (j_no, j_title, j_content, j_deadline, j_joinno, j_gender, j_age, j_education, m_id, j_payment, j_salary, j_career)
		VALUES (#{jobboardNo},#{jobboardTitle}, #{jobboardContent},#{jobboardDeadLine},#{jobboardJoinNo},#{jobboardGender},#{jobboardAge},#{jobboardEducation},#{memberId},#{jobboardPayment},#{jobboardSalary},#{jobboardCareer})
	</insert>
	
	<insert id="insertJobboardFile" parameterType="JobboardAttachment">
		<selectKey keyProperty="jobboardAttachmentNo" resultType="int" order="BEFORE">
			SELECT COUNT(*)+1 from jobboardattachment
		</selectKey>
		insert into jobboardattachment (ja_no, j_no, ja_savedfilename, ja_filename)
		values (#{jobboardAttachmentNo}, #{jobboardNo}, #{savedFileName}, #{userFileName})
	</insert>
	
</mapper>






