<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dolbi.model.mapper.JobboardMapper"><!-- 클래스 또는 인터페이스 역할 -->
	
	<sql id="JobboardListColumns">
		J_NO,J_TITLE,J_READCOUNT,J_DEADLINE,M_ID,J_PAYMENT,J_SALARY,J_DELETED,M_NAME
	</sql>
	<sql id="JobboardViewColumns">
		J_NO,J_TITLE,J_CONTENT,J_DEADLINE,M_ID,J_PAYMENT,J_SALARY,J_DELETED,J_JOINNO,J_GENDER,J_AGE,J_EDUCATION,J_CAREER,M_NAME
	</sql>
	
	<!-- <resultMap type="com.mvcdemoweb.model.dto.Member" id="memberMap"> -->
	<resultMap type="Jobboard" id="jobboardListMap">
		<id property="jobboardNo" column="J_NO" />
		<result property="jobboardTitle" column="J_TITLE" />
		<result property="jobboardReadCount" column="J_READCOUNT" />
		<result property="jobboardDeadLine" column="J_DEADLINE" />
		<result property="memberId" column="M_ID" />
		<result property="jobboardPayment" column="J_PAYMENT" />
		<result property="jobboardSalary" column="J_SALARY" />
		<result property="jobboardDeleted" column="J_DELETED" />
		<result property="memberName" column="M_NAME" />
	</resultMap>
	
	<!-- 메서드 역할 -->
	<select id="selectJobboards" resultMap="jobboardListMap">
		SELECT <include refid="JobboardListColumns" /> 
		FROM JOBBOARD
	</select>
	
	<resultMap type="JobboardAttachment" id="jobboardFileMap">
		<id column="ja_no" property="jobboardAttachmentNo" />
		<result column="j_no" property="jobboardNo" />
		<result column="ja_savedfilename" property="savedFileName" />
		<result column="ja_filename" property="userFileName" />
	</resultMap>
	
	<resultMap type="Jobboard" id="jobboardViewMap">
		<id property="jobboardNo" column="J_NO" />
		<result property="jobboardTitle" column="J_TITLE" />
		<result property="jobboardContent" column="J_CONTENT" />
		<result property="jobboardDeadLine" column="J_DEADLINE" />
		<result property="memberId" column="M_ID" />
		<result property="jobboardPayment" column="J_PAYMENT" />
		<result property="jobboardSalary" column="J_SALARY" />
		<result property="jobboardDeleted" column="J_DELETED" />
		<result property="jobboardJoinNo" column="J_JOINNO" />
		<result property="jobboardGender" column="J_GENDER" />
		<result property="jobboardAge" column="J_AGE" />
		<result property="jobboardEducation" column="J_EDUCATION" />
		<result property="jobboardCareer" column="J_CAREER" />
		<result property="memberName" column="M_NAME" />
		<collection property="files" column="j_no" resultMap="jobboardFileMap" />
	</resultMap>
	
	<select id="selectJobboardByjobboardNo" resultMap="jobboardViewMap" parameterType="int">
		SELECT j.J_NO,j.J_TITLE,j.J_CONTENT,j.J_DEADLINE,j.M_ID,j.J_PAYMENT,j.J_SALARY,j.J_DELETED,j.J_JOINNO,j.J_GENDER,j.J_AGE,j.J_EDUCATION,j.J_CAREER,ja.ja_savedfilename,j.M_NAME
		FROM JOBBOARD j
		LEFT OUTER JOIN JOBBOARDATTACHMENT ja
		ON j.j_no = ja.j_no
		where j.j_no = #{jobboardNo}
	</select>
	
	<insert id="insertJobboard" parameterType="Jobboard" useGeneratedKeys="true" keyProperty="j_no">
		<selectKey keyProperty="jobboardNo" resultType="int" order="BEFORE">
			SELECT MAX(J_NO)+1 from jobboard
		</selectKey>
		INSERT INTO JOBBOARD (j_no, j_title, j_content, j_deadline, j_joinno, j_gender, j_age, j_education, m_id, j_payment, j_salary, j_career, m_name)
		VALUES (#{jobboardNo},#{jobboardTitle}, #{jobboardContent},#{jobboardDeadLine},#{jobboardJoinNo},#{jobboardGender},#{jobboardAge},#{jobboardEducation},#{memberId},#{jobboardPayment},#{jobboardSalary},#{jobboardCareer},#{memberName})

	</insert>
	
	<insert id="insertJobboardFile" parameterType="JobboardAttachment">
		<selectKey keyProperty="jobboardAttachmentNo" resultType="int" order="BEFORE">
			SELECT MAX(JA_NO)+1 from jobboardattachment
		</selectKey>
		insert into jobboardattachment (ja_no, j_no, ja_savedfilename, ja_filename)
		values (#{jobboardAttachmentNo}, #{jobboardNo}, #{savedFileName}, #{userFileName})
	</insert>
	
	<insert id="insertApplication" parameterType="hashMap">
		<selectKey keyProperty="applicationNo" resultType="int" order="BEFORE">
			SELECT COUNT(*)+1 from application
		</selectKey>
		insert into application (a_no, j_no, m_id)
		values (#{applicationNo}, #{jobboardNo}, #{memberId})
	</insert>
	
</mapper>






