<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dolbi.model.mapper.MemberMapper"><!-- 클래스 또는 인터페이스 역할 -->
	
	<sql id="memberColumns">
		M_ID, M_NAME, M_ADDRESS, M_PHONENO, M_TYPE, M_MAIL
	</sql>
	
	<sql id="individualColumns">
		GENDER, M_AGE
	</sql>
	
	<sql id="companyColumns">
		C_NO, C_HOMEPAGE, JC_NO, C_CEONAME
	</sql>
	
	
	<resultMap type="Member" id="memberMap">
		<id column="M_ID" property="memberId" />
		<result column="M_NAME" property="memberName" />
		<result column="M_ADDRESS" property="memberAddress" />
		<result column="M_PHONENO" property="phoneNo" />
		<result column="M_TYPE" property="memberType" />
		<result column="M_MAIL" property="email" />
		<result column="M_GENDER" property="gender" />
		<result column="M_AGE" property="age" />
		<result column="C_NO" property="companyNo" />
		<result column="C_HOMEPAGE" property="homepage" />
		<result column="JC_NO" property="categoryNo" />
		<result column="C_CEONAME" property="ceoName" />
	</resultMap>
	 
	
	<!-- 메서드 역할 -->
	<select id="selectMembers" resultType="Member">
		SELECT <include refid="memberColumns" /> 
		FROM member
	</select>
	
	<select id="selectMemberByIdAndPasswd" 
		parameterType="hashMap" resultMap="memberMap">
		SELECT <include refid="memberColumns" />
		FROM member
		WHERE M_ID = #{memberId} AND M_PW = #{passWd}
	</select>
	
	<select id="selectMemberById" 
		parameterType="String" resultType="Member">
		SELECT <include refid="memberColumns" /> 
		FROM member
		WHERE memberId = #{id}
	</select>
	
	<insert id="insertMember" parameterType="Member">
		INSERT INTO member (memberId, passWd, email, userType, active)
		VALUES (#{memberId}, #{passWd}, #{email}, #{userType}, #{active})
	</insert>
	
	<insert id="insertindiMember" parameterType="Member">
		call INSERTINDI(#{memberId}, #{passWd}, #{memberName}, #{memberAddress}, #{phoneNo}, #{email}, #{gender}, #{age});
	</insert>
	
	<insert id="insertcomMember" parameterType="Member">
		call INSERTCOM(#{memberId}, #{passWd}, #{memberName}, #{ceoName}, #{companyNo}, #{memberAddress}, #{phoneNo}, #{homepage}, #{email}, #{categoryNo});
	</insert>
	
	<select id="selectindiMember" resultMap="memberMap">
		SELECT <include refid="memberColumns" />
		FROM member
		WHERE m_type = 'individual'
	</select>
	
	<select id="selectcomMember" resultMap="memberMap">
		SELECT <include refid="memberColumns" />
		FROM member
		WHERE m_type = 'company'
	</select>
	
	<select id="selectindiMemberview" parameterType="String" resultMap="memberMap">
		SELECT 
			m.m_id, m.m_name, i.m_gender, i.m_age, m.m_address, m.m_phoneNo, m.m_mail
		FROM member m 
		LEFT OUTER JOIN individual i
		ON m.m_id = i.m_id
		WHERE m.m_id = #{id}
	</select>
	<select id="selectcomMemberview" parameterType="String" resultMap="memberMap">
		SELECT 
			m.m_id, m.m_name, m.m_address, m.m_phoneNo, m.m_mail, c.c_ceoname, c.c_no, c.c_homepage, c.jc_no
		FROM member m 
		LEFT OUTER JOIN company c
		ON m.m_id = c.m_id
		WHERE m.m_id = #{id}
	</select>
	
</mapper>






